<div class="site-wrap">
    <div class="site-canvas">
        <div class="site-nav">
            <div class="site-logo">
                <a [routerLink]="['/']" class="ui medium image site-logo__img" smDirTooltip="Home" smDirPosition="right center">
                    <img src="assets/image/logo_v2.png" alt="Raditya Surya Pratama">
                </a>
            </div>
            <nav class="side-nav">
                <ul class="ui link list site-nav__list">
                    <li>
                        <a class="site-nav__link" [routerLink]="['/about']" smDirTooltip="About Me" smDirPosition="right center">
                            <span>
                                <img class="ui image" src="assets/image/people.png" alt="About Me">                        
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="site-nav__link" [routerLink]="['/work']" smDirTooltip="Porfolio" smDirPosition="right center">
                            <span>
                                <img class="ui image" src="assets/image/resume.png" alt="About Me">                        
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="site-nav__link" [routerLink]="['/contact']" smDirTooltip="Contact" smDirPosition="right center">
                            <span>
                                <img class="ui image" src="assets/image/mail.png" alt="About Me">                        
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <main>
            <div class="ui padded grid">
                <router-outlet></router-outlet>

            </div>
        </main>
    </div>
</div>