<div class="site-wrap">
    <div class="site-canvas">
        <div class="site-nav">
            <div class="site-logo">
                <a href="/" class="ui medium image site-logo__img">
                    <img src="assets/image/logo_v2.png" alt="Raditya Surya Pratama">
                </a>
            </div>
            <nav class="side-nav">
                <ul class="ui link list site-nav__list">
                    <li>
                        <a class="site-nav__link" href="#">
                            <span>
                                <img class="ui image" src="assets/image/people.png" alt="About Me">                        
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="site-nav__link" href="#">
                            <span>
                                <img class="ui image" src="assets/image/resume.png" alt="About Me">                        
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="site-nav__link" href="#">
                            <span>
                                <img class="ui image" src="assets/image/mail.png" alt="About Me">                        
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <main>
            <div class="ui padded grid">
                <div class="column">
                    <h1>Hi I'm <a class="subtitle-link">Radit</a> — designer &amp; coder</h1>
                    <h2>I love creating useful and beautiful things for people<br>see my latest <a class="subtitle-link">work</a></h2>
                    <p>A container can be combined with a grid allowing you to use all of the layout and alignment available for <a href="/collections/grid.html#doubling">grids</a> including responsive patterns.</p>
                </div>
            </div>
        </main>
    </div>
</div>